<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>기본 객체</title>
</head>
<body>
  <h1>식 기본 객체 (Expression Basic Objects)</h1>
    <ul>
        <li>#request =         <span th:text="${#request}"/></li>
        <li>#response =        <span th:text="${#response}"/></li>
        <li>#session =         <span th:text="${#session}"/></li>
        <li>#servletContext =  <span th:text="${#servletContext}"/></li>
        <li>#locale =          <span th:text="${#locale}"/></li>
    </ul>

  <h1>편의 객체</h1>
    <ul>
        <li>Request Parameter = <span th:text="${param.paramData}"/></li>
        <li>session =           <span th:text="${session.sessionData}"/></li>
        <li>spring bean =       <span th:text="${@helloBean.hello('Spring!')}"/></li>
    </ul>
</body>
</html>