<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring EL 다양한 표현식 사용</title>
</head>
<body>
    <h1>SpringEL 표현식</h1>
    <ul>
        Object
        <li>${user.username} =      <span th:text="${user.username}"/></li>
        <li>${user['username']} =   <span th:text="${user['username']}"/></li>
        <li>${user.getUsername()} = <span th:text="${user.getUsername()}"/></li>
    </ul>

    <ul>
        List
        <li>${users[0].username} =      <span th:text="${users[0].username}"/></li>
        <li>${users[0]['username']]} =  <span th:text="${users[0]['username']}"/></li>
        <li>${users[0].getUsername()} = <span th:text="${users[0].getUsername()}"/></li>
    </ul>

    <ul>
        Map
        <li>${userMap['userA'].username} =    <span th:text="${userMap['userA'].username}"/></li>
        <li>${userMap['userA']['username']} =  <span th:text="${userMap['userA']['username']}"/></li>
        <li>${userMap['userA'].getUsername()} = <span th:text="${userMap['userA'].getUsername()}"/></li>
    </ul>

    <h1>지역 변수 - (th:with)</h1>
    <div th:with="first=${users[0]}">
        <p>처음 사람의 이름은 <span th:text="${first.username}"/></p>
    </div>
</body>
</html>